[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/mist"]
	path = themes/mist
	url = https://github.com/eneepo/mist.git
